* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url('https://scx1.b-cdn.net/csz/news/800/2018/1-whytheweathe.jpg');
  background-size: cover;
  background-position: top center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

.searchbox {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px 0 16px 0;
  border-bottom: 3px solid #df8e00;
  color: #313131;
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.2s ease-out;
}

input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

.city {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: center;
}

h1 {
  color: #fff;
  font-size: 8rem;
  font-weight: 700;
  margin: 3px 0;
  text-shadow: 2px 13px rgba(0, 0, 0, 0.6);
}

.hi-lo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  text-shadow: 0 3px rgba(0, 0, 0, 0.4);
  padding-top: 1rem;
  margin-left: 3rem;
}

.date {
  color: #fff;
  padding: 1rem;
  margin-left: 2rem;
}

.weather-condition {
  color: #fff;
  font-size: 1.5rem;
  padding-left: 5rem;
}
#status{ padding-left: 5rem }
h1 span{ font-size:4rem }
.toggle{
  position: relative;
  width: 60px;
  height: 30px;
  display: inline-block;
}
.toggle .slider{
  content: 'F';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #b48484;
  border-radius: 30px;
}
.toggle input {
  display: none;
}
.toggle .slider::before{
  content: '';
  position: absolute;
  height: 24px;
  width: 24px;
  background-color: white;
  left: 4px;
  top: 3px;
  transition: all 0.5s;
  border-radius: 50%;
}
 /* toggle in label designing */
 .toggle { 
  position : relative ; 
  display : inline-block; 
  width : 100px; 
  height : 52px; 
  background-color: red; 
  border-radius: 30px; 
  border: 2px solid gray; 
} 
      
/* After slide changes */
.toggle:after { 
  content: ''; 
  position: absolute; 
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  background-color: gray; 
  top: 1px;  
  left: 1px; 
  transition:  all 0.5s; 
} 
      
/* Toggle text */
p { 
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: bold; 
} 
      
/* Checkbox cheked effect */
.checkbox:checked + .toggle::after { 
  left : 49px;  
} 
      
/* Checkbox cheked toggle label bg color */
.checkbox:checked + .toggle { 
  background-color: green; 
} 
      
/* Checkbox vanished */
.checkbox {  
  display : none; 
} 